openapi: 3.1.0
info:
  title: Notion Job Task API
  version: "1.0.0"
servers:
  - url: https://api.notion.com/v1
paths:
  /pages:
    post:
      operationId: createTask
      summary: Create a new job task in Notion database
      parameters:
        - in: header
          name: Notion-Version
          required: true
          schema:
            type: string
            example: "2022-06-28"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - parent
                - properties
              properties:
                parent:
                  type: object
                  required:
                    - database_id
                  properties:
                    database_id:
                      type: string
                      default: "216720ea-f31e-809c-9fa9-e0ee8a700c2d"
                properties:
                  type: object
                  properties:
                    Task:
                      type: object
                      required:
                        - title
                      properties:
                        title:
                          type: array
                          items:
                            type: object
                            required:
                              - text
                            properties:
                              text:
                                type: object
                                required:
                                  - content
                                properties:
                                  content:
                                    type: string
                    Company:
                      type: object
                      properties:
                        rich_text:
                          type: array
                          items:
                            type: object
                            properties:
                              text:
                                type: object
                                properties:
                                  content:
                                    type: string
                    "Job Title":
                      type: object
                      properties:
                        rich_text:
                          type: array
                          items:
                            type: object
                            properties:
                              text:
                                type: object
                                properties:
                                  content:
                                    type: string
                    Status:
                      type: object
                      properties:
                        select:
                          type: object
                          properties:
                            name:
                              type: string
                    Priority:
                      type: object
                      properties:
                        select:
                          type: object
                          properties:
                            name:
                              type: string
                    "Due Date":
                      type: object
                      properties:
                        date:
                          type: object
                          properties:
                            start:
                              type: string
                              format: date
                    Notes:
                      type: object
                      properties:
                        rich_text:
                          type: array
                          items:
                            type: object
                            properties:
                              text:
                                type: object
                                properties:
                                  content:
                                    type: string
      responses:
        "200":
          description: Task created successfully
